.profile-form {
    padding: 0 0 1.25rem 0 !important;
}

.profile-form :nth-child(5) {
    margin-top: 1rem;
}

.profile-form .form-group {
    padding: 0 1.25rem 0 1.25rem !important;
}

.profile-avatar {
    width: fit-content;
    border-radius: 50%;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

.profile-avatar img {
    width: 120px;
    height: 120px;
}