<div class="d-inline-flex w-100">
	<div class="rounded-circle z-depth-0 mr-2 mr-sm-3 mt-2 d-none d-sm-none d-md-block" style="height: 38px; width: 38px; overflow: hidden;">
		<content-loader
			viewBox="0 0 38 38"
			backgroundColor="#fafafa"
			foregroundColor="#ededed">
				<svg:circle cx="19" cy="19" r="19" /> 
		</content-loader>
	</div>

	<div class="w-100">
		<div class="rounded border border-light p-3 w-100 mb-2 mb-sm-2 speech-bubble left">
			<div>				
				<div class="mb-2 d-inline-block" style="height: 19px; width: 85px; overflow: hidden;">
					<content-loader
						viewBox="0 0 85 19"
						backgroundColor="#fafafa"
						foregroundColor="#ededed">
							<svg:rect x="0" y="0" rx="0" ry="0" width="85" height="19"/>
					</content-loader>
				</div>
				<div class="mb-2 float-right d-inline-block" style="height: 19px; width: 120px; overflow: hidden;">
					<content-loader
						viewBox="0 0 120 19"
						backgroundColor="#fafafa"
						foregroundColor="#ededed">
							<svg:rect x="0" y="0" rx="0" ry="0" width="120" height="19"/>
					</content-loader>
				</div>
			</div>
			<div class="mb-1" style="height: 19px; max-width: 785px; overflow: hidden;">
				<content-loader
					viewBox="0 0 85 19"
					backgroundColor="#fafafa"
					foregroundColor="#ededed">
						<svg:rect x="0" y="0" rx="0" ry="0" width="85" height="19"/>
				</content-loader>
			</div>
			<div class="mb-1" style="height: 19px; max-width: 485px; overflow: hidden;">
				<content-loader
					viewBox="0 0 85 19"
					backgroundColor="#fafafa"
					foregroundColor="#ededed">
						<svg:rect x="0" y="0" rx="0" ry="0" width="85" height="19"/>
				</content-loader>
			</div>
		</div>

		<div class="d-inline-flex w-100 mb-3">
			<div class="w-100 ml-0 ml-sm-3 ml-md-5 blue lighten-5">
				<div class="rounded border border-light p-3 w-100 speech-bubble right">
					<div>
						<div class="mb-2 d-inline-block" style="height: 19px; width: 85px; overflow: hidden;">
							<content-loader
								viewBox="0 0 85 19"
								backgroundColor="#fafafa"
								foregroundColor="#ededed">
									<svg:rect x="0" y="0" rx="0" ry="0" width="85" height="19"/>
							</content-loader>
						</div>
						<div class="mb-2 float-right d-inline-block" style="height: 19px; width: 120px; overflow: hidden;">
							<content-loader
								viewBox="0 0 120 19"
								backgroundColor="#fafafa"
								foregroundColor="#ededed">
									<svg:rect x="0" y="0" rx="0" ry="0" width="120" height="19"/>
							</content-loader>
						</div>
					</div>
					<div class="mb-1" style="height: 19px; max-width: 485px; overflow: hidden;">
						<content-loader
							viewBox="0 0 85 19"
							backgroundColor="#fafafa"
							foregroundColor="#ededed">
								<svg:rect x="0" y="0" rx="0" ry="0" width="85" height="19"/>
						</content-loader>
					</div>
					<div class="mb-1" style="height: 19px; max-width: 885px; overflow: hidden;">
						<content-loader
							viewBox="0 0 85 19"
							backgroundColor="#fafafa"
							foregroundColor="#ededed">
								<svg:rect x="0" y="0" rx="0" ry="0" width="85" height="19"/>
						</content-loader>
					</div>
				</div>
			</div>

			<div class="rounded-circle z-depth-0 ml-2 ml-sm-3 mt-2 d-none d-sm-none d-md-block" style="height: 38px; width: 38px; overflow: hidden;">
				<content-loader
					viewBox="0 0 38 38"
					backgroundColor="#fafafa"
					foregroundColor="#ededed">
						<svg:circle cx="19" cy="19" r="19" /> 
				</content-loader>
			</div>
		</div>
	</div>
</div>