.order-search h6 {
	text-align: start;
	width: 155px;
}

.order-search {
	width: 50%;
}

.page-search {
	width: 50%;
}

@media (min-width: 768px) {
	.h-md-100 {
		height: 100%!important;
	}

	.order-search h6 {
		text-align: end;
		width: 155px;
	}

	.order-search {
		max-width: 290px;
	}

	.page-search {
		width: 200px;
	}
}