<div class="card ml-auto mr-auto z-depth-0 border border-light animated fadeIn" style="max-width: 400px; margin-top: 15%;">
    <h4 class="card-header light-blue lighten-1 white-text text-uppercase text-center py-3">Login</h4>
    <form [formGroup]="loginForm.formGroup" (ngSubmit)="login()" [disableInputs]="loggingIn" class="card-body" novalidate>
        <div *ngIf="loginForm.errors.login" style="text-align: center; margin: 0 0 25px;" class="alert alert-danger animated fadeIn">
            <span *ngFor="let error of loginForm.errors.login">{{ error.description }}</span>
        </div>
        
        <div class="form-group">
            <label [ngClass]="{'red-text': loginForm.formGroup.controls.email.dirty && loginForm.errors.email, 
							'green-text': loginForm.formGroup.controls.email.dirty && !loginForm.errors.email }" for="email">E-mail</label> 
            <div class="input-group">                           
                <input formControlName="email" name="email" type="email" id="email" 
						[ngClass]="{'form-control is-invalid d-block': loginForm.errors.email && loginForm.formGroup.controls.email.dirty, 
									'form-control is-valid d-block': loginForm.formGroup.controls.email.valid && loginForm.formGroup.controls.email.dirty, 
									'form-control': true}" class="form-control">                
                <i style="z-index: 4;" *ngIf="loginForm.formGroup.controls.email.dirty" class="far input-icon" [ngClass]="{'fa-times-circle red-text': loginForm.errors.email, 'fa-check-circle green-text': !loginForm.errors.email }"></i>
            </div>

            <div *ngIf="loginForm.errors.email && loginForm.formGroup.controls.email.dirty">
                <div *ngFor="let error of loginForm.errors.email" class="invalid-feedback d-block">{{ error.description }}</div>
            </div>
        </div>

        <div class="form-group">
            <label [ngClass]="{'red-text': loginForm.formGroup.controls.password.dirty && loginForm.errors.password, 'green-text': loginForm.formGroup.controls.password.dirty && !loginForm.errors.password }" for="password">Senha</label> 
            <div class="input-group">                           
                <input formControlName="password" name="password" type="password" id="password" autocomplete="on" 
						[ngClass]="{'form-control is-invalid d-block': loginForm.errors.password && loginForm.formGroup.controls.password.dirty, 
									'form-control is-valid d-block': loginForm.formGroup.controls.password.valid && loginForm.formGroup.controls.password.dirty, 
									'form-control': true}" class="form-control">                
                <i style="z-index: 4;" *ngIf="loginForm.formGroup.controls.password.dirty" class="far input-icon" 
						[ngClass]="{'fa-times-circle red-text': loginForm.errors.password, 'fa-check-circle green-text': !loginForm.errors.password }"></i>
            </div>

            <div *ngIf="loginForm.errors.password && loginForm.formGroup.controls.password.dirty">
                <div *ngFor="let error of loginForm.errors.password" class="invalid-feedback d-block">{{ error.description }}</div>
            </div>
        </div>

        <div class="btn-group-flex">            
            <button mdbBtn mdbWavesEffect class="btn-outline-amber btn-rounded w-100 px-1" color="amber" [routerLink]="['/account/register']" type="button">Cadastrar-se</button>
            <button mdbBtn mdbWavesEffect class="btn-rounded w-100 px-1 waves-light" color="amber" type="submit" [disabled]="!loginForm.formGroup.valid || loggingIn">
                <div *ngIf="loggingIn">
                    <span class="spinner-border spinner-border-sm mr-2"></span>Login
                </div>
                <div *ngIf="!loggingIn">
                    Login
                </div>
            </button>
        </div>
    </form>
</div>