<div style="overflow: hidden">
	<div tabindex="0" class="carousel slide">
		<div class="carousel-inner w-100" style="height: 402px; overflow: hidden;">
			<div class="w-100" style="height: 370px; overflow: hidden;">
				<content-loader
					viewBox="0 0 695 850"
					backgroundColor="#fafafa"
					foregroundColor="#ededed">
						<svg:rect x="0" y="0" rx="0" ry="0" width="695" height="850" />
			  	</content-loader>
			</div>			
		</div>
	<div>
	<div class="thumbnail-list d-flex">
		<div class="carousel-thumb">
			<content-loader
			viewBox="0 0 80 80"
			backgroundColor="#fafafa"
			foregroundColor="#ededed">			
				<svg:rect x="0" y="0" rx="0" ry="0" width="80" height="80" />
		  </content-loader>
		</div>
		<div class="carousel-thumb">
			<content-loader
			viewBox="0 0 80 80"
			backgroundColor="#fafafa"
			foregroundColor="#ededed">			
				<svg:rect x="0" y="0" rx="0" ry="0" width="80" height="80" />
		  </content-loader>
		</div>
		<div class="carousel-thumb">
			<content-loader
			viewBox="0 0 80 80"
			backgroundColor="#fafafa"
			foregroundColor="#ededed">			
				<svg:rect x="0" y="0" rx="0" ry="0" width="80" height="80" />
		  </content-loader>
		</div>
		<div class="carousel-thumb">
			<content-loader
			viewBox="0 0 80 80"
			backgroundColor="#fafafa"
			foregroundColor="#ededed">			
				<svg:rect x="0" y="0" rx="0" ry="0" width="80" height="80" />
		  </content-loader>
		</div>
		<div class="carousel-thumb">
			<content-loader
			viewBox="0 0 80 80"
			backgroundColor="#fafafa"
			foregroundColor="#ededed">			
				<svg:rect x="0" y="0" rx="0" ry="0" width="80" height="80" />
		  </content-loader>
		</div>
	</div>
</div>